astropy
autopep8
beartype
certifi
charset-normalizer
colorama
contourpy
cycler
exceptiongroup
filterpy
fonttools
idna
iniconfig
kiwisolver
matplotlib
mpmath
numpy-quaternion
numpy
packaging
pandas
parameterized
pillow
platformdirs
pluggy
pooch
pycodestyle
pyerfa
pyparsing
pyshtools
pytest
python-dateutil
pytz
pyyaml
requests
scipy
shapely
six
tomli
tqdm
tzdata
urllib3
xarray
