astropy-iers-data
astropy
autograd
autopep8
bayesian-filters
beartype
certifi
charset-normalizer
colorama
contourpy
cycler
filelock
fonttools
fsspec
healpy
idna
iniconfig
jinja2
kiwisolver
markupsafe
matplotlib
ml-dtypes
mpmath
networkx
numpy
opt-einsum
packaging
pandas
parameterized
pillow
platformdirs
pluggy
pooch
pycodestyle
pyerfa
pygments
pyparsing
pyshtools
pytest
python-dateutil
pytz
pyyaml
requests
scipy
setuptools
shapely
six
sympy
tqdm
typing-extensions
tzdata
urllib3
xarray
