astropy
autopep8
beartype
certifi
charset-normalizer
colorama
contourpy
cycler
exceptiongroup
filelock
filterpy
fonttools
fsspec
healpy
idna
iniconfig
jinja2
kiwisolver
markupsafe
matplotlib
mpmath
networkx
numpy-quaternion
numpy
packaging
pandas
parameterized
pillow
platformdirs
pluggy
pooch
pycodestyle
pyerfa
pyparsing
pyshtools
pytest
python-dateutil
pytz
pyyaml
requests
scipy
setuptools-scm
setuptools
shapely
six
sympy
tomli
tqdm
typing-extensions
tzdata
urllib3
xarray
