---
name: Test workflow

permissions: read-all

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install --extras healpy_support

      - name: List files and check Python and package versions
        run: |
          ls -al
          python -c 'import sys; print(sys.version_info[:])'
          python -m pip freeze

      - name: Run tests
        run: |
          poetry env use python
          poetry run python -m pytest --rootdir . -v --strict-config --junitxml=junit_test_results.xml ./pyrecest
        env:
          PYTHONPATH: ${{ github.workspace }}

      - name: Publish test results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: junit_test_results.xml
